.orange {
  color: #ce805c;
}

.slate {
  color: #587183;
}
.header {
  font-family: Poppins, sans-serif;
}

.footer-logo {
  width: 173px;
}

.footer {
  background: #587183;
}

.footer-link-header {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;
}

.phone-number-link {
  margin-top: 4px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.paragraph-4-copy {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 100%;
  max-width: 1170px;
  text-align: left;
}

@media screen and (max-width: 450px) { 
  .header {
    font-size: 30px;
    font-weight: 800;
    padding: 0 10px;
    line-height: 34px;
  }
  
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 38px;
    margin-bottom: -55px;
  }

  .logo-image {
    margin: 15px 0 5px 0;
  }

  .footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }

  .footer-logo {
    margin-bottom: 15px;
  }

  .div-block {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .link-block {
    width: 110px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .paragraph-4-copy {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #fff;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 50px !important;
  }

  .logo-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
  }

  .header-container .logout-button,
  .header-container .logout-button:hover {
    height: 100%;
    margin-top: 1.5em;
    text-transform: capitalize !important;
    background-color: #587183;
    color: #ffffff;
  }
} 

@media screen and (min-width: 451px) { 
  .App {
    padding: 0;
    margin: 0;
    text-align: center;
    background: white;
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .logo-image {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .header {
    font-family: Poppins, sans-serif;
    font-size: 44px;
    font-weight: 800;
  }

  .header-container {
    margin-bottom: -40px;
    background: white;
  }

  .footer {
    background: #587183;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .div-block {
    margin-right: 50px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  .div-block:nth-of-type(3) {
    margin-right: 200px;
  }

  .link-block {
    margin-top: -6px;
  }

  .link-block a:first-of-type {
    margin-right: 40px;
  }

  .footer-content {
    width: 100%;
    padding-top: 30px;
    max-width: 1170px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .footer-logo {
    margin-right: 50px;
  }

  .header-container .logout-button,
  .header-container .logout-button:hover {
    margin-right: 15px;
    margin-top: 1em;
    background-color: #587183;
    color: #ffffff;
    height: 100%;
    width: 110px;
    text-transform: capitalize !important;
  }

  .logo-image-container {
    width: calc(100% - 125px);
    display: flex;
    justify-content: center;
    margin-left: 125px;
  }

  .logo-button {
    display: flex;
  }
}
