.blueLight2 {
  background-color: #cfdfff !important;
}

.cyanLight2 {
  background-color: #d0f0fd !important;
}

.tealLight2 {
  background-color: #c2f5e9 !important;
}

.yellowLight2 {
  background-color: #ffeab6 !important;
}

.greenLight2 {
  background-color: #d1f7c4 !important;
}

.purpleLight2 {
  background-color: #ede2fe !important;
}

.grayLight2 {
  background-color: #eee !important;
}

.blueLight1 {
  background-color: #9cc7ff !important;
}

.cyanLight1 {
  background-color: #77d1f3 !important;
}

.tealLight1 {
  background-color: #72ddc3 !important;
}

.yellowLight1 {
  background-color: #ffd66e !important;
}

.orangeLight1 {
  background-color: #ffa981 !important;
}

.redLight1 {
  background-color: #ff9eb7 !important;
}

.purpleLight1 {
  background-color: #cdb0ff !important;
}

.tealBright {
  background-color: #20d9d2 !important;
}

.grayLight1 {
  background-color: #ccc !important;
}
.greenBright {
  background-color: #20c933 !important;
}

.redBright {
  background-color: #f82b60 !important;
}

.cyanBright {
  background-color: #18bfff !important;
}

.orangeLight2 {
  background-color: #fee2d5 !important;
}

.pinkBright {
  background-color: #ff08c2 !important;
}

.orangeBright {
  background-color: #ff6f2c !important;
}

.white-text {
  color: white !important;
  font-weight: 500 !important;
}
