 #form-list {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  max-width: 650px;
  background: white;
  margin-top: 10px;
}

.list-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  /* max-width: 500px; */
  margin-bottom: 30px;
}

.text-field {
  width: 500px;
}

.form {
  margin-top: 20px;
  background: white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f7f2eb;
  width: 100%;
  /* border: 1px solid #fafafa; */
}

.form h2 {
  text-align: left;
  margin-left: 20px;
}

.required-list-item .MuiListItemText-primary::After {
  content: " *";
  color: red;
}

.loading,
.confirmation {
  height: 375px;
  display: flex;
  align-items: center;
  background: #f7f2eb;
  margin-top: 50px;
  justify-content: center;
}

.loading-text,
.confirmation-text {
  line-height: 35px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #ce805c;
  margin-bottom: 40px;
  max-width: 630px;
  text-align: left;
}
